.container {
  text-align: center;
  margin-top: 10px;
}
.calc-container {
  border: 1px solid #333;
  border-radius: 10px;
  display: inline-block;
  background-color: #ddd;
  font-size: 20px;
}

.calc-button {
  width: 55px;
  height: 40px;
  min-height: 20px;
  color: #333;
  background-color: #ccc;
  font-size: 20px;
}

.width-2 {
  width: 110px !important;
  height: 40px;
}

.calc-button-op {
  color: #fff;
  background-color: orange;
}

.calc-button-top {
  color: #333;
  background-color: #aaa;
}

.answer-box {
  background-color: #333;
  color: #fff;
  text-align: right;
  min-height: 25px;
  height: 30px;
  font-size: 20px;
}
