button {
  border: 1px solid #5a5758;
}

button:focus {outline: 0;}

.container {
  text-align: center;
  margin-top: 10px;
}
.calc-container {
  border: 1px solid #5a5758;
  border-radius: 2px;
  display: inline-block;
  background-color: #5a5758;
}

.calc-button {
  width: 40px;
  min-height: 35px;
  color: #ffffff;
  background-color: #807f7f;
}

.width-2 {
  width: 80px !important;
}

.calc-button-op {
  color: #fff;
  background-color: #f2a23c;
}

.calc-button-top {
  color: #ffffff;
  background-color: #676665;
}

.answer-box {
  background-color: #5a5758;
  color: #fff;
  text-align: right;
  min-height: 25px;
  padding-top: 10px;
}
